@{
    ViewBag.Title = "Home Page";
}

<h2>Test GitHub In Visual Studio 2022</h2>
<h2>I'm on Check Branch</h2>
<h2>I'm learn Git in Visual Studio 2022</h2>

<h3>write  Another text in check branch </h3>